[submodule "DESAFIOS DE CÓDIGO/Primeiro Desafio de Código - Repositório Git e Github/DIO_FIRST_CODE_CHALLENGE"]
	path = DESAFIOS DE CÓDIGO/Primeiro Desafio de Código - Repositório Git e Github/DIO_FIRST_CODE_CHALLENGE
	url = https://github.com/ETUUU/DIO_FIRST_CODE_CHALLENGE.git
