body {
    display: flex;
    background-color: black;
    margin: auto;
    margin-top: 2em;
    width: 90%;
    justify-content: center;
    word-break:break-word;
}

#container {
    display: flex;
    background-color: #2b2a2a;
    max-width: 60%;
    min-height: 12em;
    border: 3px solid;
    border-radius: 8%;
    padding: 10px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

#task{
    
}

#botao {

}

#title {
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    border: 4px solid lightcyan;
    border-radius: 30px;
    padding: 10px;
}

#lista {
    display: flex;
    margin: 0;
    width: 16em;
    max-width: 20em;
    padding: 0;
    flex-flow: row wrap;
    align-items: stretch;
    /* outline: none; */
}

.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

#lista li {
    display: flex;
    font-family: cursive;
    justify-content: flex-start;
    width: 80%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid lightcyan;
    padding: 10px;

}

#lista input {
    align-self: center;
}